.image-gallery{
    grid-template-areas: 
        'img-1 img-1 img-2 img-2'
        'img-3 img-3 img-4 img-4'
        'img-5 img-5 img-6 img-6'
        'img-7 img-7 img-8 img-8'
        'img-9 img-9 img-10 img-10'
        'img-11 img-11 img-12 img-12';
}

.img-1 {
    grid-area: img-1;
    min-height: 10rem;
}